.text-elb{
color: rgba(0, 0, 0, 0.711);
}
.navbar-brand {
  color: rgb(24, 26, 24);
}
.navbar-brand {
  font-size: 50px;
}
.card-title.times-new-roman {
  color: rgb(255, 0, 47);
  font-weight: bold;
  font-size: 20px;
}

.form-label.times-new-roman{
  color: rgb(255, 0, 47);
  font-weight: bold;
  font-size: 24px;
}

.form-editpage.times-new-roman{
  color: rgb(255, 0, 47);

}
.moreinfo-form-group.times-new-roman{
  color: rgb(255, 0, 47);
  font-weight: bold;
}
.navbar-brand,p {
  font-family: "Times New Roman", Times, serif;
}
p{
  text-align: center;
  color: rgb(141, 17, 17);
  font-size: 40px;
  text-shadow: 2px 2px 8px #a38787;
}
.card-header {
  font-size: 24px; 
  font-family:"Times New Roman", Times, serif;
}
.times-new-roman {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-style: bold;
  color: black;
}
.btn-transparent {
  background-color: transparent;
  border-color: transparent;
  color: #007bff;
}
.card-img-top:hover {
  transform: scale(1.1);
}
.hide {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.title-head{
  margin-top:120px;
  width: 80%;
  margin-left: 50px;
}
.title{
  /* font-family:'Fredericka the Great', cursive; */
  font-size: 60px;
  font-style: bold;
  color: black;
  /* margin-left: 130px; */
}
.text-read {
  font-size: 25px;
  /* margin-right:500px; */
  margin-top: 20px;
  text-align: start;
  /* font-family: 'Delicious Handrawn', cursive; */
  color: rgb(1, 0, 3);
}
.pagination .page-link {
  color: #333;
  background-color: #fff;
  border: 2px solid #ccc;
}
.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #333;
  border-color: #333;
}





